@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, #fdf6fc 0%, #f9dfaf 60%);
    font-family: 'Roboto', sans-serif;
    height: 3800px;
    position: relative;
    /* flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 80px;
    padding-right: 80px; */
    z-index: -1;
}

.header {
    align-items: center;
    background: #fdf6fc;
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.hero-video {
    background: linear-gradient(90deg, #252931 0%, #5f5353 100%);
    height: 850px;
    left: 0;
    object-fit: cover;
    opacity: 0.1;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.logo {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.gradient-box {
    background: linear-gradient(45deg, #7797dd 0%, #a45cb9 30%, #b940a7 60%, #9747ff 100%);
    color: #fdf6fc;
    height: 780px;
    opacity: 0.85;
    overflow: hidden;
    position: relative;
}
