body {
  background-color: #87d1f6;
  background-image: url("https://i.pinimg.com/originals/f6/bf/8b/f6bf8b0a7c196fe029adf004095470c8.png");
  padding: 0;
  margin: 0;
	background-size: 100%;
	height: 100vh;
}

main {
	height: 100vh;
	align-content: center;
}

h1 {
  background-color: #87d1f6;
  color: white;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  color: #e25c84;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
	margin-bottom: 0 !important;
	color: white;
	font-weight: 700;
}

p {
	margin-bottom: 0 !important;
	padding: 15px;
	text-align: center;
}

.jessica-picture {
  border-radius: 100%;
	border: 5px solid #f3e0e8;
	margin-right: 15px;
}

.skills {
	margin-top: 15px;
	margin-bottom: 35px;
}

.buttonFirst {
	height: 100px;
	line-height: 80px;
	min-width: 50px;
	width: 30vw !important;
}

.buttons {
	height: 100px;
	line-height: 80px;
	margin-left: 1vw;
	min-width: 50px;
	text-align: center;
	width: 30vw !important;
}
